# Ignore built files
*.py[cod]
*.egg-info
.env
db.sqlite3
.coverage
.vscode

# System
.DS_Store

# Dependency directories
node_modules

# Build files
build
public

#Logs
npm-debug.log

# Global eslint dotfiles
/.eslintrc.js
/.eslintignore
