{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
    <link href="{% static 'dashboard/public/vendor.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dashboard/public/app.css' %}" rel="stylesheet" type="text/css">
    {% block head %}{% endblock %}
    <title>{% block title %}Stolos{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
