{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<script type="text/javascript" src="{% static 'dashboard/public/manifest.js' %}"></script>
	<script type="text/javascript" src="{% static 'dashboard/public/vendor.bundle.js' %}"></script>
	<script type="text/javascript" src="{% static 'dashboard/public/common.bundle.js' %}"></script>
	<!-- <link href="./build/global-styles.css" rel="stylesheet" type="text/css">
	<link href="./build/home-styles.css" rel="stylesheet" type="text/css"> -->
    <link href="{% static 'dashboard/public/vendor.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dashboard/public/styles.css' %}" rel="stylesheet" type="text/css">
	<title>Stolos</title>
</head>
<body>
	<div id="root">

	</div>
	<script type="text/javascript" src="{% static 'dashboard/public/app.bundle.js' %}"></script>
</body>
</html>
