@import url('./buttons.css');
#content {
    background-color: whitesmoke;
}

#sidebar {
    /* border-right: 1px solid #CFD8DC; */
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.22);
    position: relative;
    z-index: 1;
}

#sidebar > nav {
    margin: 0 -15px;
}

.nav-link-container a {
    display: block;
    padding: 1rem;
    font-size: 1.2rem;
    color: #37474F;
}

.nav-link-container a.active {
    background: whitesmoke;
}

#header {
    padding: 1rem 0;
    background-color: #171d34;
    color: white
}

#content {
    padding: 1rem 0;
}


/* Small devices (tablets, 544px and up) */

@media (min-width: 544px) {
    html, body {
        height : 100%;
        width : 100%;
    }

    #root {
        /*display: flex;*/
        width: 100%;
        height: 100%;
    }

    .container-fluid,
    .container-fluid > div {
        height: 100%;
    }

    #sidebar {
        display: flex;
    }

    #sidebar > nav {
        flex: 1;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    #content {
        overflow: auto;
        flex: 1;
    }

    /*body > div,
	body > div > div,
	body > div > div > div {
		height: 100%;
	}*/
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}
