@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');

body {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

body > div,
body > div > div,
body > div > div > div {
	height: 100%;
}

#content {
	background-color: whitesmoke;
}

#sidebar {
	/* border-right: 1px solid #CFD8DC; */
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.22);
	position: relative;
	z-index: 1;
}

#header {
	padding: 1rem;
	background-color: #171d34;
	color: white
}

a.active {
	color: green;
}
