@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');

#content {
	background-color: whitesmoke;
}

#sidebar {
	/* border-right: 1px solid #CFD8DC; */
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.22);
	position: relative;
	z-index: 1;
}

#header {
	padding: 1rem;
	background-color: #171d34;
	color: white
}

a.active {
	color: green;
}

/* Small devices (tablets, 544px and up) */
@media (min-width: 544px) {
	body {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	body > div,
	body > div > div,
	body > div > div > div {
		height: 100%;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
